.btn-primary  .glyphicon-zoom-in{
        color:white;
        }
.btn-primary  .glyphicon-search
        {
        color:white;
        }
.btn-primary  .glyphicon-edit{
        color:white;
        }
.btn-primary  .glyphicon-trash{
        color:red;
        }
.btn-primary  .glyphicon-plus{
        color:white;
        }
.btn-primary  .glyphicon-refresh{
        color:white;
        }
.btn-primary  .glyphicon-chevron-left{
        color:white;
        }
.btn-primary  .glyphicon-list{
        color:white;
        }
.btn-primary
{
color:white;
}