.glyphicon-zoom-in
        {
            color:#3C8DBC;
        }
.glyphicon-search
        {
        color:white;
        }
.glyphicon-edit
        {
        color:white;
        }
.glyphicon-trash
        {
        color:red;
        }
.glyphicon-plus
        {
        color:white;
        }
