{% extends 'my_base.html' %}


{% block title %}
    <h1 style="margin-top:-15px"><span style="color: #0b93d5;">网络结构</span>
        <small>编辑</small>
    </h1>
    <ol class="breadcrumb" style="margin-top: 5px;">
        <li><a href="/systemsettings/starter/"><i class="fa fa-dashboard"></i>当前位置：首页</a></li>
        <li><span>技术监督</span></li>
        <li><span>监督网络管理</span></li>
        <li class="active">网络结构</li>
    </ol>
{% endblock %}
{% block beiyong  %}
<a onClick="javascript :history.back(-1)" class="btn btn-primary glyphicon glyphicon-chevron-left" data-toggle="tooltip"
   data-placement="top" title="返回"></a>
{% endblock %}

{% block list_edit %}
<a class="btn btn-primary glyphicon glyphicon-list" data-toggle="tooltip" data-placement="top" title="返回列表"
   href="/netstructure/list/?action=list&menuid=3"></a>
{% endblock %}

{% block save2 %}
<a class="btn btn-primary glyphicon glyphicon-floppy-save" title="保存" data-toggle="tooltip" data-placement="top"
   onclick="if(!checked()){return};document.getElementById('myform').submit();"></a>
{% endblock %}

{% block update %}
<a href="#" onClick="document.location.reload()" data-toggle="tooltip" data-placement="top"
   class="btn btn-primary glyphicon glyphicon-refresh" title="刷新"></a>

{% endblock %}
{% block content %}
<form class="form-horizontal" method="post" id="myform"
      action="/netstructure/{{u_id}}/edit/?action=edit&menuid=3/">
    {% csrf_token %}
    <div class="box-body">
        <div class="form-group">
            <label for="number" class="col-sm-2 control-label">编号</label>
            <div class="col-sm-3">
                <input type="text" name="number" class="form-control" id="number" placeholder="编号"
                       value="{{date.number}}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="desc" class="col-sm-2 control-label"><span class="bt">*</span>描述</label>

            <div class="col-sm-3">
                <input type="text" name="desc" class="form-control" id="desc" placeholder="描述"
                       value="{{date.desc}}" required>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="bt">*</span>类别</label>
            <div class="col-sm-3">
                <select class="form-control select2  " id="classify" name="classify">
                    <option>九大监督</option>
                    <option>五大管理</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><span class="bt">*</span>父级网络</label>
            <div class="col-sm-3">
                <select class="form-control select2 " id="structure_list" name="structure_list">
                    {% for structure in structure_list %}
                    {% if structure.parent_id == None %}
                    <!--<option value="{{structure.id}}">-&#45;&#45;无-&#45;&#45;</option>-->
                    <!--<option value="{{structure.id}}">-&#45;&#45;{{structure.desc}}-&#45;&#45;</option>-->
                    <option value="">---无---</option>
                    {% else %}
                    <option value="{{structure.id}}">---{{structure.desc}}---</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <!-- /.box-footer -->
</form>
<!-- /.box-body -->

{% endblock %}

{% block javascript %}
<script>
function checked() {
            var date1 = $("#desc").val();
            if(date1==''){
             alert('您还有未填写的选项');
                return false;

            }else{
              return true;
            }
            console.log(checked());
   }
    // 按钮悬浮效果
$("[data-toggle='tooltip']").tooltip();

</script>

{% endblock %}


