{% extends 'my_base.html' %}
{% load count_add %}
{% block title %}
    <h1 style="margin-top:-15px"><span style="color: #0b93d5;">网络结构</span>
        <small>列表</small>
    </h1>
    <ol class="breadcrumb" style="margin-top: 5px;">
        <li><a href="/systemsettings/starter/"><i class="fa fa-dashboard"></i>当前位置：首页</a></li>
        <li><span>技术监督</span></li>
        <li><span>监督网络管理</span></li>
        <li class="active">网络结构</li>
    </ol>
{% endblock %}

{% block search %}
<a href="#" class="btn btn-primary btn-secondary glyphicon glyphicon-search" data-toggle="tooltip" onclick="prom()"
   data-placement="top"
   title="查询用户" ></a>
{% endblock %}


{% block update %}
<a href="#" onClick="document.location.reload()" class="btn btn-primary glyphicon glyphicon-refresh" title="刷新" data-toggle="tooltip" data-placement="top"></a>
<a href="#" onclick="prom_import()" data-toggle="tooltip" data-placement="top"
   class="css3 btn btn-primary glyphicon glyphicon-import"
   title="导入"></a>
<a href="/media/mould_files/监督网络导入_模板.xls" data-toggle="tooltip" data-placement="top"
   class="css3 btn btn-primary glyphicon glyphicon-download-alt"
   title="下载模板"></a>
{% endblock %}
{% block content %}

{% load pagetag %}
<!-------------------------------搜索框  模态框---------------------------->
<!-- Modal -->
<div class="modal fade panel" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        onclick="closed()">
                    &times;
                </button>
                <h4 class="modal-title " id="myModalLabel">
                    网络结构搜索
                </h4>
                <form action="/netstructure/search/?action=list&menuid=3" class="form-horizontal" method="get"
                      enctype="multipart/form-data" id="myform">
                    <input type="hidden" name="action" value="list">
                    <input type="hidden" name="menuid" value="3">
                    <!--{% csrf_token %}-->
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">公司名称</label>
                            <div class="col-md-3">
                                <!--<input type="text" class="form-control" name="number" id="number">-->
                                <select class="form-control select2" id="company" name="company">
                                    <option value="">所有</option>
                                    {% for company in company_list %}
                                    <option value="{{ company.id }}">{{ company.comname }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="col-md-2 control-label">类别</label>
                            <div class="col-md-3">
                                <!--<input type="text" class="form-control" name="number" id="number">-->
                                <select class="form-control select2" id="classify" name="classify">
                                    <option value="">所有</option>
                                    <option value="九大监督">九大监督</option>
                                    <option value="五大管理">五大管理</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">描述</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="desc" id="desc">
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label class="col-md-2 control-label">类型</label>-->
                            <!--<div class="col-md-3">-->
                                <!--<input type="text" class="form-control" name="classify" id="classify">-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="form-group">
                            <!--<input type="submit"  class="btn btn-success col-md-offset-2">-->
                             <div class="btn_box" style="width: 20%;float: right">
                                <input type="submit" class="btn btn-primary" value="搜索">
                                <button type="button" id='btn' class="btn btn-primary" data-dismiss="modal"
                                    onclick="closed()">关闭
                            </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
<!-------------  END搜索框 ------------------->
<table class="table table-striped table-bordered">
    <tr>

        <th class="first">编号</th>
        <th class="second">类别</th>
        <th class="fourth">公司名称</th>
        <th class="sixth">描述</th>
        <th class="third">上级监督网络</th>
        <th class="third">操作</th>
    </tr>

    {% for structure in structure_list %}
    {% if structure.is_activate == 1 %}
    <tr>


        <!--<td class="first">{% widthratio forloop.counter 1 1 %}</td>-->
        <!--<td class="first">{{forloop.counter|add:page_last }} </td>-->

        <td class="first">{%tag_cheng_add page 10 forloop.counter%}</td>

        <td class="second">{{structure.classify}}</td>
        <td class="fourth">{{structure.place.comname}}</td>
        <td class="award-name sixth" data-placement="bottom" title="{{structure.desc}}">{{structure.desc}}</td>
        <td class="third">{{structure.parent.desc}}</td>
        <td><a href="/netstructure/{{structure.id}}/detail/?action=detail&menuid=3/"
               title="查看网络结构详情" data-toggle="tooltip" data-placement="top"><span
                class="btn btn-default glyphicon glyphicon-zoom-in"></span></a>&nbsp;
            &nbsp;&nbsp;
            <a href="/netstructure/{{structure.id}}/edit/?action=edit&menuid=3/"
                title="编辑网络结构" data-toggle="tooltip" data-placement="top"><span
                class="btn btn-default glyphicon glyphicon-edit" ></span></a>&nbsp;&nbsp;&nbsp;
            <a href="javascript:;"
               onclick="if(confirm('您确定删除这条记录？')){location.href='/netstructure/{{structure.id}}/1/delete/?action=del&menuid=3';}"
               title="删除网络结构" data-toggle="tooltip" data-placement="top"><span class="btn btn-default glyphicon glyphicon-trash"></span></a>
        </td>

    </tr>
    {% endif %}
    {% empty %}
    <tr><td colspan="6">暂时还没有网络结构</td></tr>
    {% endfor %}
</table>
<div class="box-footer clearfix">
  <ul class="pagination pagination-sm no-margin pull-left">
      <!--首页-->
     <li>
      <a href="?page=1&action=list&menuid=3&classify={{ classify }}&desc={{ desc }}&company={{ company }}" aria-label="Previous">
        <span aria-label="true">首页</span>
      </a>
    </li>

    {% if structure_list.has_previous %}
    <li>

      <a href="?page=={{ structure_list.previous_page_number }}&action=list&menuid=3&classify={{ classify }}&desc={{ desc }}&company={{ company }}" aria-label="Previous">

        <span aria-label="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
      <!--{% for pg in structure_list.paginator.page_range %}-->
            <!--{% circle_page menuid structure_list.number pg %}-->
      <!--{% endfor %}-->

      {% for pg in page_range %}
		{% if pg == page %}
			<li class="active"><a href="#">{{ pg }}</a></li>
		{% else %}
			<li><a href="?page={{ pg }}&action=list&menuid=3&classify={{ classify }}&desc={{ desc }}&company={{ company }}">{{ pg }}</a></li>
		{% endif %}
	    {% endfor %}

    {% if structure_list.has_next %}
    <li>
      <a href="?page={{ structure_list.next_page_number }}&action=list&menuid=3&classify={{ classify }}&desc={{ desc }}&company={{ company }}" aria-label="Next">

        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}

          <li>
          <a href="?page={{ total_page }}" >
            <span aria-hidden="true">总共{{ total_page }}页</span>
          </a>
          </li>

        {% if total_counts < 0 %}
          <li style="display:none;">
          <a>
            <span aria-hidden="true">总{{ total_counts }}条</span>
          </a>
          </li>
        {% else %}
          <li >
          <a>
            <span aria-hidden="true">总{{ total_counts }}条</span>
          </a>
          </li>
        {% endif %}

  </ul>
</div>
<!--导入框-->
<div class="modal fade" id="myModal_import" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel_import">
                    导入定期工作任务
                </h4>
                <div id="sb1"></div>
            </div>
            <div class="modal-body" style="border-top: none">
                <form class="form-horizontal" method="post" action="/netstructure/structure_import_excel/" id="myform_import" enctype="multipart/form-data" style="width: 80%; margin: 0 auto">
                    <div class="col-md-12">
                        <div class="form-group" style="text-align: center">
                            <label class="col-sm-3 control-label" style="text-align: left">excel文件:</label>
                            <div class="col-sm-9">
                                <input class="form-control" type="file" id="excel_file" name="excel_file">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-primary" id="import_btn" onclick="import_btn();">
                            导入
                        </a>
                    </div>
                </form>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
    function prom_import() {
        $('#myModal_import').modal('show');
        $('#myModal_import').on('hide.bs.modal', function () {
        });
    }
    function prom(){
        $("#myModal").modal('show');
    };
    function import_btn(){
        document.getElementById("myform_import").submit();


    }
// 搜索框，点击放大镜后触发函数
function prom(){
    // 将搜索框和内容清空
    $("#myform").val('');
    $("#list").find("td").remove();
		$('#myModal').modal('show');
		$('#myModal').on('hide.bs.modal', function() {
			 //$("#myform")[0].reset();
			 $(this).find("shujuzhanshi").remove();
		});
		};

// 点击隐藏
function closed(){
$('#myModal').hide();
};

// 点击搜索触发函数，获取输入的值
//重置表单数据
 $(function() {
       $("#myModal").on('hide.bs.modal',function() {
          //关闭后重置表单数据
          $("#myform")[0].reset();


       });

       $("#myModal").on('show.bs.modal',function() {
          //打开前重置表单数据
          document.getElementById("myform").reset();
       });
   });

// 按钮悬浮效果
$("[data-toggle='tooltip']").tooltip();

</script>
{% endblock %}