{% extends 'my_base.html' %}

{% block title %}
    <h1 style="margin-top:-15px"><span style="color: #0b93d5;">告警回执单</span>
        <small>编辑</small>
    </h1>
    <ol class="breadcrumb" style="margin-top: 5px;">
        <li><a href="/systemsettings/starter/"><i class="fa fa-dashboard"></i>当前位置：首页</a></li>
        <li><span>技术监督</span></li>
        <li><span>告警管理</span></li>
        <li class="active">告警回执单</li>
    </ol>
{% endblock %}
{% block beiyong  %}
<a onClick="javascript :history.back(-1)" class="btn btn-primary glyphicon glyphicon-chevron-left" title="返回" data-toggle="tooltip" data-placement="top"></a>
{% endblock %}
{% block list_edit %}
<a class="btn btn-primary btn-secondary glyphicon glyphicon-list" title="返回列表" href="/warningre/list/?action=list&menuid=14"
   data-toggle="tooltip" data-placement="top"></a>
{% endblock %}
{% block save2 %}
<a class="btn btn-primary glyphicon glyphicon-floppy-save" title="保存" onclick="document.getElementById('myform').submit();" data-toggle="tooltip"
   data-placement="top"></a>
{% endblock %}
{% block update %}
<a href="#" onClick="document.location.reload()" class="css3 btn btn-primary glyphicon glyphicon-refresh" title="刷新" data-toggle="tooltip"
   data-placement="top"></a>
{% endblock %}
{% block content %}
<form action="/warningre/{{data.id}}/edit/" class="form-horizontal"
      method="post" enctype="multipart/form-data" id="myform" style="margin-top:20px;white-space:nowrap;">
    {% csrf_token %}
    <div class="box-body">
        <div class="form-group">

            <label class="col-md-2 control-label">告警通知</label>
            <div class="col-md-3">
                <select class="form-control select2 " name="warning_notice" id="warning_notice">
                    {% for nid in waring_data %}
                    {% if data.warning_notice.id == nid.id %}
                        <option value="{{nid.id}}" selected>
                        <!--{{nid.number}}-{{nid.title}}-->
                        {{nid.title}}
                    </option>
                    {% else %}
                        <option value="{{nid.id}}">
                        <!--{{nid.number}}-{{nid.title}}-->
                        {{nid.title}}
                    </option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <label class="col-md-2 control-label">告警回执编号</label>
            <div class="col-md-3">
                <input type="text" class="form-control" name="number" id="number" value="{{data.number}}"
                       readonly>
            </div>
        </div>

        <div class="form-group" style="margin-left:-12px">
            <label class="col-md-2 control-label">状&nbsp;态</label>
            <div class="col-md-3">
                <input type="text" class="form-control" id="state" name="state" value="{{data.state}}"
                       readonly>
            </div>
        </div>

        <div class="form-group" style="margin-left:-12px">
            <label class="col-md-2 control-label"><span class="bt">*</span>回执内容</label>
            <div class="col-md-8">
                <textarea  type="text" class="form-control" id="content" name="content" value="{{data.content}}"
                >{{data.content}}</textarea>
            </div>

        </div>

        <div class="form-group" style="margin-left:-12px">
             <label class="col-md-2 control-label">回执结果</label>
            <div class="col-md-8">
                <textarea type="text" class="form-control" id="result" name="result" value="{{data.result}}"
                >{{data.result}}</textarea>
            </div>
        </div>


    </div>

</form>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
  $(function(){
  $("#jump").click(function(){
  var second = 3;
   //获取显示秒数的元素，通过定时器来更改秒数。
    var message = document.getElementById("countTime");
    function clock()
    {
        if(second==0)
        {
            goTo();
        }
        else
        {
            document.getElementById('yes').setAttribute('style', 'display: block');
            message.innerHTML = second-- + "秒后回到详情页";
            window.setTimeout(clock,1000);
        }
    }
    clock();
   //通过window的location和history对象来控制网页的跳转。
   function goTo()
   {
        window.location.href = "http://localhost:8000/warningre/list/?action=list";
   }
   function goBack()
   {
    //   window.history.Back();
        window.location.href = "http://localhost:8000/warningre/list/?action=list";
   }
  })
  })
   // 按钮悬浮效果
$("[data-toggle='tooltip']").tooltip();
</script>
{% endblock %}