{% extends 'my_base.html' %}

{% block title %}
    <h1 style="margin-top:-15px"><span style="color: #0b93d5;">资质类型管理</span>
        <small>新建</small>
    </h1>
    <ol class="breadcrumb" style="margin-top: 5px;">
        <li><a href="/systemsettings/starter/"><i class="fa fa-dashboard"></i>当前位置：首页</a></li>
        <li><span>25项反措</span></li>
        <li><span>资质类型管理</span></li>
        <li class="active">资质类型管理</li>
    </ol>
{% endblock %}


{% block beiyong  %}
<a onClick="javascript :history.back(-1)" class="btn btn-primary btn-secondary glyphicon glyphicon-chevron-left" title="返回" data-toggle="tooltip" data-placement="top" ></a>
{% endblock %}

{% block list_new %}
<a class="btn btn-primary btn-secondary glyphicon glyphicon-list" title="返回列表" href="/quatype/list/?action=list&menuid=30" data-toggle="tooltip" data-placement="top" ></a>
{% endblock %}

{% block save %}
<!--<a class="btn btn-primary btn-secondary glyphicon glyphicon-floppy-save" title="保存" -->
   <!--onclick="if(!checked()){return};document.getElementById('myform').submit();" data-toggle="tooltip" data-placement="top" ></a>-->
<a class="btn btn-primary btn-secondary glyphicon glyphicon-floppy-save" title="保存"
 id="create_btn" data-toggle="tooltip" data-placement="top" ></a>
{% endblock %}

{% block update %}
<a href="#" onClick="document.location.reload()" class="css3 btn btn-primary btn-secondary glyphicon glyphicon-refresh" title="刷新" data-toggle="tooltip" data-placement="top" ></a>
{% endblock %}


{% block content %}
    <!-- form start -->
    <form class="form-horizontal" method="post" id="myform" action="/quatype/add/?action=list&menuid=30">
      {% csrf_token %}
      <div class="box-body" style="margin-top: 20px;">
        <div class="form-group">
          <label for="user" class="col-sm-2 control-label">创建人</label>
          <div class="col-sm-3">
            {% if request.session.mylogin %}
            <input type="text" id="user" name="user" class="form-control" value="{{ request.session.mylogin.username }}" readonly/>
            {% endif %}
          </div>

          <label for="create_at" class="col-sm-2 control-label">创建时间</label>
          <div class="col-sm-3">
            <input type="text" name="create_at" class="form-control" id="create_at"  value="{{created_at}}" readonly>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">专业</label>
          <div class="col-sm-3">
            <select class="form-control select2 "  id="supervision" name="supervision">
              {% for supervision in supervision_list %}
              <option>{{supervision.name}}</option>
              {% endfor %}
            </select>
          </div>

          <label for="state" class="col-sm-2 control-label">状态</label>
          <div class="col-sm-3">
            <input type="text" name="state" class="form-control" id="state" value="新建" readonly>
          </div>
        </div>

        <div class="form-group">
          <label for="desc" class="col-sm-2 control-label"><span class="bt">*</span>描述</label>
          <div class="col-sm-8">
            <textarea typeof="text" name="desc" class="form-control" id="desc" placeholder="描述" required></textarea>
          </div>
        </div>

        <div class="form-group">
          <label for="remark" class="col-sm-2 control-label">备注</label>
          <div class="col-sm-8">
            <textarea typeof="text" name="remark" class="form-control" id="remark"></textarea>
          </div>
        </div>

      </div>

      <!-- /.box-footer -->
    </form>

{% endblock %}

{% block javascript %}
<script type="application/javascript" src="/static/js/bootstrapValidator/bootstrapValidator.js"></script>
<script>
//function checked() {
//            var date1 = $("#supervision").val();
//            var date2 = $("#desc").val();
//            if(date1=='' | date2 ==''){
//             alert('您还有未填写的选项');
//                return false;
//
//            }else{
//                return true;
//
//
//            }
//            console.log(checked());
//   }
   $(function (){
       $('#myform').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields:{
            desc:{
                validators:{
                    notEmpty:{
                        message:'请您输入描述信息'
                    },
                    callback:{
                        message:'描述信息错误'
                    },
                    stringLength: {//检测长度
                        min: 1,
                        max: 20,
                        message: '长度必须在1-20之间'
                    },
                }
            },
        }
    })
   });

$("#myform").submit(function (ev) {
            ev.preventDefault();
        });
        $("#create_btn").on("click", function () {
            var bootstrapValidator = $("#myform").data('bootstrapValidator');
            bootstrapValidator.validate();
            if (bootstrapValidator.isValid()) {
                document.getElementById('myform').submit();
                layer.msg('添加成功！')
            }
            else {
                layer.msg('添加失败，请填写正确信息!');
                return false;
            }
        });

      // 按钮悬浮效果
$("[data-toggle='tooltip']").tooltip();
</script>

{% endblock %}