{% extends 'my_base.html' %}
{% load staticfiles %}
{% load lbutils %}
{% load compress %}
{% load i18n %}
{% load crispy_forms_tags %}
 {% block title %}新建定期工作{% endblock %}
{% block beiyong  %}
<a onClick="javascript :history.back(-1)" data-toggle="tooltip" data-placement="top"
   class="btn btn-primary glyphicon glyphicon-chevron-left" title="返回"></a>
{% endblock %}
{% block list_new %}
<a class="btn btn-primary glyphicon glyphicon-list" data-toggle="tooltip" data-placement="top" title="返回列表"
   href="/regularworktask/list/?action=list&menuid=32"></a>
{% endblock %}
{% block save %}
<a class="btn btn-primary glyphicon glyphicon-floppy-save" data-toggle="tooltip" data-placement="top" title="保存"
   onclick="if(!checked()){return};document.getElementById('myform').submit();"></a>
{% endblock %}
{% block update %}
<a href="#" onClick="document.location.reload()" data-toggle="tooltip" data-placement="top"
   class="css3 btn btn-primary glyphicon glyphicon-refresh" title="刷新"></a>
{% endblock %}
{% block content %}
          {% block right_side %}
            <section class="content-header">
              {% include "incs/messages.html" %}
              {% block right_side_header %}
                <div class="right-btns">
                  {% if wf_code %}
                   <a target="_black" href="{% url 'wf_process_flowchart' wf_code %}">Flowchart</a>
                  {% endif %}
                </div>
              {% endblock %}
            </section>
            <section class="content">
              <form id="id-m-form" action="" method="post" class="form-horizontal {% block form_css_class %}{% endblock %}" {% block form_ext_attr %}{% endblock %} role="form" enctype="multipart/form-data" >
                {% block right_side_content %}
                  {% block right_side_content_top %}
                    {% if object %}
                      <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs" role="tablist" id="id-m-nav-tabs">
                          <li class="active">
                            <a href="##id-tb-base" role="tab" data-toggle="tab">Base Information</a>
                          </li>
                          {% block right_side_tab_nav_ext %}
                          {% endblock %}
                          <li>
                          <a href="#id-tb-wf-log" role="tab" data-toggle="tab">Operate history</a>
                        </li>
                        <li>
                          <a href="#id-tb-wf-graph" role="tab" data-toggle="tab">Help</a>
                        </li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active" id="id-tb-base">
                          {% block right_side_tab_base_ctx %}
                            {% include "lbworkflow/inc_wf_status.html" %}
                          {% endblock %}
                        </div>
                        {% block right_side_tab_ctx_ext %}
                        {% endblock %}
                        <div class="tab-pane" id="id-tb-wf-log">
                          {% include "lbworkflow/inc_wf_history.html" %}
                        </div>
                        <div class="tab-pane" id="id-tb-wf-graph">
                          {% block flow_help %}
                          {% endblock %}
                          <a href="{% url 'wf_process_flowchart' process.code %}" target="_blank">Open in new window</a>
                          <br/>
                          <img src="{% url 'wf_process_flowchart' wf_code %}"/>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endblock %}

                 <div class="box-body">
        <div class="form-group">
            <label class="col-md-2 control-label">台账编号:</label>
            <div class="col-md-3">
                <input type="text" class="form-control" name="count_number" id="count_number" readonly/>
            </div>
            <div class="col-md-1">
            <span class="glyphicon glyphicon-search" style="cursor:pointer;" data-toggle="modal"
                  data-target="#countkks"></span>
            </div>
            <label class="col-md-2 control-label"><span class="bt">*</span>KKS编码:</label>
            <div class="col-md-3">
                <input type="text" class="form-control" name="KKS_code" id="KKS_code" readonly>
            </div>
            <div class="col-md-1">
            <span class="glyphicon glyphicon-search" style="cursor:pointer;" data-toggle="modal"
                  data-target="#kks"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">台账名称:</label>
            <div class="col-md-3">
                <input type="text" class="form-control" name="count_name" id="count_name" readonly>
            </div>
            <label class="col-md-2 control-label col-md-offset-1"><span class="bt">*</span>KKS编码名称:</label>
            <div class="col-md-3">
                <input type="text" class="form-control" name="KKS_codename" id="KKS_codename" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">工作区域:</label>
            <div class="col-md-3">
                <input class="form-control" name="work_area" id="work_area" readonly>
            </div>
            <div class="col-md-1">
            <span class="glyphicon glyphicon-search" style="cursor:pointer;" data-toggle="modal"
                  data-target="#workarea"></span>
            </div>
            <label class="col-md-2 control-label">业务来源:</label>
            <div class="col-md-3">
                <input type="text" id="resource" name="resource" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">性&nbsp;质:</label>
            <div class="col-md-3">
                <select class="form-control" name="nature" id="nature">
                    <option value="运行">运行</option>
                    <option value="检修">检修</option>
                </select>
            </div>
            <label class="col-md-2 control-label col-md-offset-1">标准分值:</label>
            <div class="col-md-3">
                <input type="text" class="form-control" name="score" id="score" onblur="check_score()">
                <span class="glyphicon glyphicon-remove-sign error" id="nine">请输入正确数字（非零正数）！</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">状&nbsp;态:</label>
            <div class="col-md-3">
                <input type="text" id="state" name="state" class="form-control" value="拟定" readonly/>
            </div>
         <label class="col-md-2 control-label col-md-offset-1"><span class="bt">*</span>定期工作类型:</label>
            <div class="col-md-3">
                <select class="form-control select2" name="type" required id="rtype">
                    <option value="技术监督设备类">技术监督设备类</option>
                    <option value="技术监督管理类">技术监督管理类</option>
                    <option value="25项反措设备类">25项反措设备类</option>
                    <option value="25项反措管理类">25项反措管理类</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"><span class="bt">*</span>设备专业:</label>
            <div class="col-md-3">
                <select class="form-control select2  " name="equipment_major">
                    {% for equipment_major in equipment_major_list %}
                    <option value="{{equipment_major.id}}">{{equipment_major.name}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <label class="col-md-2 control-label col-md-offset-1"><span class="bt">*</span>监督专业:</label>
            <div class="col-md-3">
                <select class="form-control select2" name="supervision_major" required>
                    {% for supervision_major in supervision_major_list %}
                    <option value="{{supervision_major.name}}">{{supervision_major.name}}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"><span class="bt">*</span>工作项目:</label>
            <div class="col-md-9">
                <textarea id="work_content" name="work_content" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">

            <label class="col-md-2 control-label "><span class="bt">*</span>责任人:</label>
            <div class="col-md-3">
                <input type="text" id="exe_user" name="exe_user" class="form-control" readonly/>
            </div>
             <div class="col-md-1">
            <span class="glyphicon glyphicon-search" style="cursor:pointer;" data-toggle="modal"
                  data-target="#user"></span>
            </div>
             <label class="col-md-2 control-label"><span class="bt">*</span>周期描述:</label>
            <div class="col-md-3">
                <input type="text" class="form-control col-md-1" name="num" id="num" onblur="check_num()">
                <input type="radio" class="weekend_desc" name="weekend_desc" value="小时"/>小时
                <input type="radio" class="weekend_desc" name="weekend_desc" value="天"/>天
                <input type="radio" class="weekend_desc" name="weekend_desc" value="周"/>周
                <input type="radio" class="weekend_desc" name="weekend_desc" value="月"/>月
                <span class="glyphicon glyphicon-remove-sign error" id="one">请输入正确数字（非零正整数)！</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label"><span class="bt">*</span>提前提醒时间（天）:</label>
            <div class="col-md-3">
                <input type="text" id="warinig_time" name="warinig_time" class="form-control"
                       onblur="check_warinig_time()"/>
                <span class="glyphicon glyphicon-remove-sign error" id="two">请输入正确数字（非零正整数)！</span>
            </div>

            <label class="col-md-2 control-label col-md-offset-1"><span class="bt">*</span>超期一级预警（小时）:</label>
            <div class="col-md-3">
                <input type="text" id="overdue_major" name="overdue_major" class="form-control"
                       onblur="check_overdue_major()"/>
                <span class="glyphicon glyphicon-remove-sign error" id="three">请输入正确数字（非零正整数)！</span>
            </div>
        </div>
        <div class="form-group">
             <label class="col-md-2 control-label"><span class="bt">*</span>开始时间:</label>
            <div class="col-md-3">
                <input type="date" id="start_time" name="start_time" class="form-control"
                       onblur="check_start_current()"/>
                <span class="glyphicon glyphicon-remove-sign error" id="six">开始时间必须大于当前时间</span>
            </div>
            <label class="col-md-2 control-label col-md-offset-1"><span class="bt">*</span>超期二级预警（小时）:</label>
            <div class="col-md-3">
                <input type="text" id="overdue_dept" name="overdue_dept" class="form-control"
                       onblur="check_overdue_dept()"/>
                <span class="glyphicon glyphicon-remove-sign error" id="four">请输入正确数字（非零正整数)！</span>
            </div>
        </div>

        <div class="form-group">

            <label class="col-md-2 control-label "><span class="bt">*</span>结束时间:</label>
            <div class="col-md-3">
                <input type="date" id="end_time" name="end_time" class="form-control" onblur="check_start_end()"/>
                <span class="glyphicon glyphicon-remove-sign error" id="seven">结束时间必须大于开始时间</span>
            </div>
         <label class="col-md-2 control-label col-md-offset-1"><span class="bt">*</span>超期三级预警（小时）:</label>
            <div class="col-md-3">
                <input type="text" id="overdue_leader" name="overdue_leader" class="form-control"
                       onblur="check_overdue_leader()"/>
                <span class="glyphicon glyphicon-remove-sign error" id="five">请输入正确数字（非零正整数)！</span>
            </div>
        </div>
    </div>
</form>
<!---------------------台账和KKS编码模态框------------------------->
<div class="modal fade" id="countkks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">设备台账列表</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tr>
                        <th>设备台账编号</th>
                        <th>设备台账名称</th>
                    </tr>
                    {% for count in count_list %}
                    <tr class="check_count">
                        <td>{{count.number}}</td>
                        <td>{{count.name}}</td>

                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">无设备台账可选择</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn" data-dismiss="modal" aria-hidden="true">确定
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal fade" id="kks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabe4">KKS列表</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tr>
                        <th>KKS编码</th>
                        <th>KKS编码名称</th>
                    </tr>
                    {% for kks in kks_list %}
                    <tr class="check_kks">
                        <td>{{kks.KKS_code}}</td>
                        <td>{{kks.KKS_codename}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">无kks可选择</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn4" data-dismiss="modal" aria-hidden="true">确定
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!---------------------工作区域模态框------------------------->
<div class="modal fade" id="workarea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabe">工作区域列表</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tr>
                        <th>工作区域编号</th>
                        <th>工作区域名称</th>
                    </tr>
                    {% for workarea in workarea_list %}
                    <tr class="check_workarea">
                        <td>{{forloop.counter}}</td>
                        <td>{{workarea.name}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="2">无工作区域可选择</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn2" data-dismiss="modal" aria-hidden="true">确定
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!---------------------责任人模态框------------------------->
<div class="modal fade" id="user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLa">人员列表</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <tr>
                        <th>责任人编号</th>
                        <th>姓名</th>
                        <th>部门</th>
                    </tr>
                    {% for user in user_list %}
                    <tr class="check_user">
                        <td>{{user.number}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.department}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">无责任人可选择</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn3" data-dismiss="modal" aria-hidden="true">确定
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
                <div class="form-group">
                  <div class="col-xs-offset-2 col-xs-10">
                    {% block form_bottom_ext %}
                     {% endblock %}
                    {% block form_act_btns %}
                   {% if not process_instance.cur_node.is_submitted %}
                    <input type="submit" class="btn btn-primary" name="act_submit" value="Submit"/>
                  {% endif %}
                  <button type="submit" class="btn btn-default" name="act_save">Save</button>
                  <button type="button" class="btn btn-default goback" name="act_cancel">Cancel</button>
                   {% endblock %}
              </div>
            </div>

      {% endblock %}
    </form>
  </section>
      {% endblock %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">

//设备台账
   $(".check_count").click(function(){
            // 选中某条数据，变为蓝色
            $(this).css("background-color","skyblue");
            //  其他同级元素为白色
            $(this).siblings().css("background-color","white");
            // 获取选中的td的值
            var $number = $(this).children("td:first").text();
            var $name = $(this).children("td:first").next().text();
            $("#btn").click(function(){
                    // 接受数据并写入页面
                    $("#count_number").val($number);
                     $("#count_name").val($name);
                    });

    })
 $(".check_kks").click(function(){
            // 选中某条数据，变为蓝色
            $(this).css("background-color","skyblue");
            //  其他同级元素为白色
            $(this).siblings().css("background-color","white");
            // 获取选中的td的值
            var $KKS_code = $(this).children("td:first").text();
            var $KKS_codename = $(this).children("td:first").next().text();
            $("#btn4").click(function(){
                    // 接受数据并写入页面
                    $("#KKS_code").val($KKS_code);
                    $("#KKS_codename").val($KKS_codename);
                    });

    })


    //工作区域
   $(".check_workarea").click(function(){
            // 选中某条数据，变为蓝色
            $(this).css("background-color","skyblue");
            //  其他同级元素为白色
            $(this).siblings().css("background-color","white");
            // 获取选中的td的值
            var $number = $(this).children("td:first").text();
            var $name = $(this).children("td:first").next().text();
            $("#btn2").click(function(){
                    // 接受数据并写入页面
                     $("#work_area").val($name);
                    });

    })


//责任人
   $(".check_user").click(function(){
            // 选中某条数据，变为蓝色
            $(this).css("background-color","skyblue");
            //  其他同级元素为白色
            $(this).siblings().css("background-color","white");
            // 获取选中的td的值
            var $number = $(this).children("td:first").text();
            var $name = $(this).children("td:first").next().text();
            var $Department = $(this).children("td:first").next().next().text();

            $("#btn3").click(function(){
                    // 接受数据并写入页面
                    $("#exe_user").val($name);
                    $("#exe_dept").val($Department);
                    });

    })
   // form表单不能为空的验证
function checked() {
            var date = $("#warinig_time").val();
            var user = $("#exe_user").val();
            var dept = $("#KKS_code").val();
            var dept2 = $("#work_content").val();
            var dept3 = $("#equipment_major").val();
            var dept4 = $(".weekend_desc").val();
            var overdue_major = $("#overdue_major").val();
            var overdue_dept = $("#overdue_dept").val();
            var overdue_leader = $("#overdue_leader").val();
            var supervision_major = $("#supervision_major").val();
            var start_time = $("#start_time").val();
            var end_time = $("#end_time").val();
            var $type = $("#rtype").val();
            var d=new Date(Date.parse(start_time.replace(/-/g,"/")));
            var curDate=new Date();
            var e = new Date(Date.parse(end_time.replace(/-/g,"/")));
            var num = $("#num").val();
            if($type==''|date==''|user==''|dept==''|dept2==''|dept3==''|dept4==''|overdue_leader==''|overdue_dept==''|overdue_major==''|supervision_major==''|start_time==''|end_time==''|num==''){
             alert('请完成所有必填项！');
                return false;
            }
            else{
                return true;
            }

   };

        //周期描述，数字验证
        function check_num(){
         $("#one").hide();
            var num = $("#num").val();
            var reg=/^[1-9]\d*$/;
            data = reg.test(num);
            console.log(data);
                if (!data){
                //请填写数字
                $("#one").show();
                }
            }
        //提前提醒时间，数字验证
        function check_warinig_time(){
         $("#two").hide();
        var warinig_time = $("#warinig_time").val();
        var reg=/^[1-9]\d*$/;
        data = reg.test(warinig_time);
        if (!data){
                //请填写数字
                $("#two").show();
                }
            }


        // 超期专工提醒，数字验证
        function check_overdue_major(){
        $("#three").hide();
        var overdue_major = $("#overdue_major").val();
        var reg=/^[1-9]\d*$/;
        data = reg.test(overdue_major);
        if (!data){
                //请填写数字
                $("#three").show();
                }
            }


        // 超期部门提醒，数字验证
        function check_overdue_dept(){
        $("#four").hide();
        var overdue_dept = $("#overdue_dept").val();
        var reg=/^[1-9]\d*$/;
        data = reg.test(overdue_dept);
        if (!data){
                //请填写数字
                $("#four").show();
                }
            }


        //超期分管领导提醒，数字验证
        function check_overdue_leader(){
        $("#five").hide();
        var overdue_leader = $("#overdue_leader").val();
        var reg=/^[1-9]\d*$/;
        data = reg.test(overdue_leader);
        if (!data){
                //请填写数字
                $("#five").show();
                }
        }
        //  开始时间与当前时间的验证
        function check_start_current(){
        $("#six").hide();
        var start_time = $("#start_time").val();
        var d=new Date(Date.parse(start_time.replace(/-/g,"/")));
        var curDate=new Date();
        if (d<curDate){
                $("#six").show();
                }
        }
        //开始时间与结束时间的验证
        function check_start_end(){
        $("#seven").hide();
         var start_time = $("#start_time").val();
        var d=new Date(Date.parse(start_time.replace(/-/g,"/")));
        var end_time = $("#end_time").val();
        var e = new Date(Date.parse(end_time.replace(/-/g,"/")));
        if (e<d){
                $("#seven").show();
                }
        }


// 验证标准分值必须为数字
function check_score(){
    $("#nine").hide();
      var score =  $("#score").val();
      console.log(score);
      console.log(/^\d+$/.test(score));
    if (score != ''&!/^\d+$/.test(score)){
        $("#nine").show();
    }
}

















</script>
{% endblock %}



