{% extends 'my_base.html' %}

{% block title %}
    <h1 style="margin-top:-15px"><span style="color: #0b93d5;">告警通知单</span>
        <small>编辑</small>
    </h1>
    <ol class="breadcrumb" style="margin-top: 5px;">
        <li><a href="/systemsettings/starter/"><i class="fa fa-dashboard"></i>当前位置：首页</a></li>
        <li><span>技术监督</span></li>
        <li><span>告警管理</span></li>
        <li class="active">告警通知单</li>
    </ol>
{% endblock %}
{% block beiyong  %}
<a onClick="javascript :history.back(-1)" class="btn btn-primary glyphicon glyphicon-chevron-left" title="返回" data-toggle="tooltip" data-placement="top"></a>
{% endblock %}
{% block list_edit %}
<a class="btn btn-primary btn-secondary glyphicon glyphicon-list" title="返回列表" href="/warning/list/?action=list&menuid=13"
   data-toggle="tooltip" data-placement="top"></a>
{% endblock %}
{% block save2 %}
<a class="btn btn-primary glyphicon glyphicon-floppy-save" title="保存" onclick="document.getElementById('myform').submit();" data-toggle="tooltip"
   data-placement="top"></a>
{% endblock %}
{% block update %}
<a href="#" onClick="document.location.reload()" class="css3 btn btn-primary glyphicon glyphicon-refresh" title="刷新" data-toggle="tooltip"
   data-placement="top"></a>
{% endblock %}
{% block content %}
<form action="/warning/{{data.id}}/edit/" class="form-horizontal"
      method="post" enctype="multipart/form-data" id="myform" style="margin-top:20px;white-space:nowrap;">
    <div class="box-body">

        <div class="row">
            <div class="col-md-6">
            <div class="form-group" style="margin-left:-12px">
                <label class="col-md-4 control-label"><span class="bt">*</span>通知名称</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="title" name="title" value="{{data.title}}"
                    >
                </div>
            </div>
            </div>
            <div class="col-md-6">
            <div class="form-group" style="margin-left:-12px">
                <label class="col-md-2 control-label">状&nbsp;态</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="state" name="state" value="{{data.state}}"
                           readonly>
                </div>
            </div>
            </div>
        </div>

        <div class="form-group" style="margin-left:-12px">
           <label class="col-md-2 control-label">监督类型</label>
            <div class="col-md-3">
                <select class="form-control select2 " name="supervise_major" id="supervise_major">

                    {% for nid in supervision_major_list %}
                    {% if nid.id == data.supervise_major.id %}
                    <option value="{{nid.id}}" selected>
                        {{nid.name}}
                    </option>
                    {% else %}
                    <option value="{{nid.id}}">
                        {{nid.name}}
                    </option>
                    {% endif %}
                    {% empty %}
                    {% endfor %}

                </select>
            </div>
            <label class="col-md-2 control-label">来&nbsp;源</label>
            <div class="col-md-3">
                <select class="form-control select2 " name="resource" id="resource">
                    {% for r in resource %}
                    {% if r.id == data.resource.id %}
                    <option value="{{r.id}}" selected>
                        {{r.name}}
                    </option>
                    {% else %}
                    <option value="{{r.id}}">
                        {{r.name}}
                    </option>
                    {% endif %}
                    {% empty %}
                    {% endfor %}
                </select>
            </div>

        </div>
         <div class="form-group" style="margin-left:-12px">
            <label class="col-md-2 control-label"><span class="bt">*</span>执行人</label>
            <div class="col-md-3">
                <select class="form-control js-example-basic-single select2 " name="exetuct_user" id="exetuct_user">
                    {% for emp in exetuct_user %}
                    {% if emp.id == data.exetuct_user.id %}
                    <option value="{{emp.id}}" selected>
                        {{emp.name}}
                    </option>
                    {% else %}
                    <option value="{{emp.id}}">
                        {{emp.name}}
                    </option>
                    {% endif %}

                    {% endfor %}
                </select>
            </div>
             <label class="col-md-2 control-label">整改时间要求</label>
            <div class="col-md-3">
                <input type="text" class="form-control" id="time_require" name="time_require" value="{{data.time_require}}">
            </div>
        </div>
        <div class="form-group" style="margin-left:-12px">
            <label class="col-md-2 control-label">关联设备</label>
            <div class="col-md-3">
                <select type="text" class="form-control" id="equipment" name="equipment">
                  {% for k in kks %}
                    {% if k.id == data.equipment.id %}
                    <option value="{{k.id}}" selected>
                        {{k.KKS_codename}}
                    </option>
                    {% else %}
                    <option value="{{k.id}}">
                        {{k.KKS_codename}}
                    </option>
                    {% endif %}

                    {% endfor %}
                </select>
            </div>
            <label class="col-md-2 control-label">关联问题</label>
            <div class="col-md-3">
                <select type="text" class="form-control" id="problem" name="problem">
                {% for pro in problem  %}

                    {% if pro.id == data.equipment.id %}
                    <option value="{{pro.id}}" selected>
                        {{pro.problem}}
                    </option>
                    {% else %}
                    <option value="{{pro.id}}">
                        {{pro.problem}}
                    </option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group" style="margin-left:-12px">
            <label class="col-md-2 control-label">造成后果</label>
            <div class="col-md-8">
                <textarea type="text" class="form-control" id="result" name="result" value="{{data.result}}"
                >{{data.result}}</textarea>
            </div>
        </div>

        <div class="form-group" style="margin-left:-12px">
            <label class="col-md-2 control-label">整改建议</label>
            <div class="col-md-8">
                <textarea type="text" class="form-control" id="suggest" name="suggest" value="{{data.suggest}}"
                >{{data.suggest}}</textarea>
            </div>
        </div>
        <div class="form-group" style="margin-left:-12px">
            <label class="col-md-2 control-label">异常情况</label>
            <div class="col-md-8">
                <textarea type="text" class="form-control" id="abnormal" name="abnormal" value="{{data.abnormal}}"
                >{{data.abnormal}}</textarea>
            </div>
        </div>

         <input type="text" id="num2" name="num2" style="display: none;"/>
    </div>

</form>

{% endblock %}
{% block javascript %}
<script type="application/javascript" src="/static/js/bootstrapValidator/bootstrapValidator.js"></script>
<script>
    $(document).ready(function(){
        $('.js-example-basic-single').select2();

    });
$("#create_btn").click(function(){
   $("#num2").val(1);
});

$("#tijiao").click(function(){
   $("#num2").val(2);
});
   $(function (){
       $('#myform').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields:{
            title:{
                validators:{
                    notEmpty:{
                        message:'请您输入通知名称'
                    },
                    callback:{
                        message:'通知名称错误'
                    },
                    stringLength: {//检测长度
                        min: 2,
                        max: 20,
                        message: '长度必须在2-20之间'
                    },
                },

            },

        }
    })
   });

$("#myform").submit(function (ev) {
    ev.preventDefault();
});
$("#tijiao,#create_btn").on("click", function () {
    var bootstrapValidator = $("#myform").data('bootstrapValidator');
    bootstrapValidator.validate();
    if (bootstrapValidator.isValid()) {
        document.getElementById('myform').submit();
        layer.msg('添加成功！')
    }
    else {
        layer.msg('添加失败，请填写正确信息!');
        return false;
    }
});
 // 按钮悬浮效果
$("[data-toggle='tooltip']").tooltip();
</script>

{% endblock %}
