{% extends 'my_base.html' %}

{% block title %}
    <h1 style="margin-top:-15px"><span style="color: #0b93d5;">告警通知单</span>
        <small>列表</small>
    </h1>
    <ol class="breadcrumb" style="margin-top: 5px;">
        <li><a href="/systemsettings/starter/"><i class="fa fa-dashboard"></i>当前位置：首页</a></li>
        <li><span>技术监督</span></li>
        <li><span>告警管理</span></li>
        <li class="active">告警通知单</li>
    </ol>
{% endblock %}
{% block search %}
<a href="#" class="btn btn-primary btn-secondary glyphicon glyphicon-search" data-toggle="tooltip" onclick="prom()"
   data-placement="top"
   title="查询告警通知单"></a>
{% endblock %}
{% block update %}
<a href="#" onClick="document.location.reload()" class="css3 btn btn-primary glyphicon glyphicon-refresh" title="刷新"></a>
{% endblock %}
{% block content %}
{% load pagetag %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        onclick="closed()">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    告警通知单查询
                </h4>
                <!--form表单输入查询条件-->
                <form action="/warning/search/?action=list&menuid=13" class="form-horizontal" method="get"
                      enctype="multipart/form-data" id="myform">
                     <input type="hidden" name="action" value="list">
                    <input type="hidden" name="menuid" value="13">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">责任人</label>
                            <div class="col-md-3">
                                <!--<input type="text" class="form-control" name="user" id="place">-->
                                <select class="form-control select2 "  name="execute_user" id="execute_user">
                                <option value="">所有</option>
                                {% for nid in exetuct_user %}
                                <option value="{{nid.id}}">
                                    {{nid.name}}
                                </option>
                                {% endfor %}
                            </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">监督专业</label>
                            <div class="col-md-3">
                                <!--<input type="text" class="form-control" name="place" id="number">-->
                                 <select class="form-control select2 " name="Supervision_type" id="Supervision_type">
                                    <option value="">所有</option>
                                    {% for emp in supervision_major_list %}
                                    <option value="{{emp.id}}">
                                        {{ emp.name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">告警来源</label>
                            <div class="col-md-3">
                                <!--<input type="text" class="form-control" name="resource" id="title">-->
                                <select class="form-control select2 " name="resource" id="title">
                                    <option value="">所有</option>
                                    {% for emp in resource %}
                                    <option value="{{emp.id}}">
                                        {{ emp.name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label class="col-md-2 control-label">整改时间要求</label>-->
                            <!--<div class="col-md-3">-->
                                <!--<input type="text" class="form-control" name="time_require" id="time_require">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label class="col-md-2 control-label">造成的后果</label>-->
                            <!--<div class="col-md-3">-->
                                <!--<input type="text" class="form-control" name="result" id="result">-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <!--<input type="submit"  class="btn btn-primary" value="搜索">-->
                             <div class="btn_box" style="width: 20%;float: right">
                                <input type="submit" class="btn btn-primary" value="搜索">
                                <button type="button" id='btn' class="btn btn-primary" data-dismiss="modal"
                                    onclick="closed()">关闭
                            </button>
                            </div>

                        </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
</div>
<table class="table table-striped table-bordered">
    <tr>
        <th class="first">编号</th>
        <th class="second">通知名称</th>
        <th class="second">异常情况</th>
        <th class="second">责任人</th>
        <th class="second">整改时间要求</th>
        <th class="third">监督专业</th>
        <th class="third">告警来源</th>
        <th class="third">状态</th>
        <th class="third">操作</th>
    </tr>
    {% for warn in data %}
    {% if warn.is_activate == 1 %}
    <tr>
        <td class="first">{{forloop.counter|add:page_last}}</td>
        <td class="second">{{warn.title}}</td>
        <td class="award-name second" data-placement="botoom" title="{{warn.abnormal}}">{{warn.abnormal}}</td>
        <td class="second">{{warn.exetuct_user.name}}</td>
        <td class="second">{{warn.time_require}}</td>
        <td class="third">{{warn.supervise_major.name}}</td>
        <td class="third">{{warn.resource.name}}</td>
        <td class="third">{{warn.pinstance.cur_node.mynode.node_name}}</td>

        <td><a href="/warning/{{warn.id}}/detail/?action=detail&menuid=13" title="查看告警通知单" data-toggle="tooltip" data-placement="top"><span
        class="btn btn-default glyphicon glyphicon-zoom-in"></span></a>&nbsp;
        {% if warn.pinstance.cur_node.mynode.node_name != None %}
        {% else %}
             <a href="/warning/{{warn.id}}/edit/?action=edit&menuid=13" title="编辑告警通知单" data-toggle="tooltip" data-placement="top"><span
        class="btn btn-default glyphicon glyphicon-edit"></span></a>&nbsp;
        {% endif %}

        <a href="javascript:;"
        onclick="if(confirm('您确定删除这条记录？')){location.href='/warning/{{warn.id}}/delete/?action=del&menuid=13';}"
        title="删除告警通知单" data-toggle="tooltip" data-placement="top"><span class="btn btn-default glyphicon glyphicon-trash"></span></a>
        <a href="/wf/{{warn.pinstance_id | default:0}}/wf_history/?action=edit&menuid=47" data-toggle="tooltip" data-placement="top" title="查看流程历史"><span
                          class="btn btn-default glyphicon glyphicon-calendar" ></span></a>
        </td>
    </tr>
    {% endif %}
    {% empty %}
    <tr><td colspan="7">暂无</td></tr>
    {% endfor %}
</table>

<div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-left">

      <li>
        <a href="?page=1&action=list&menuid=13&execute_user={{ execute_user }}&Supervision_type={{ Supervision_type }}&resourc={{ resourc }}" aria-label="Previous">
          <span aria-label="true">首页</span>
        </a>
      </li>

      {% if data.has_previous %}
      <li>
        <a href="?page={{ data.previous_page_number }}&action=list&menuid=13&execute_user={{ execute_user }}&Supervision_type={{ Supervision_type }}&resourc={{ resourc }}" aria-label="Previous">
          <span aria-label="true">&laquo;</span>
        </a>
      </li>
    {% endif %}

    <!--{% for pg in data.paginator.page_range %}-->
        <!--{% circle_page menuid data.number pg %}-->
    <!--{% endfor %}-->

    {% for pg in page_range %}
		{% if pg == page %}
			<li class="active"><a href="#">{{ pg }}</a></li>
		{% else %}
			<li><a href="?page={{ pg }}&action=list&menuid=13&execute_user={{ execute_user }}&Supervision_type={{ Supervision_type }}&resourc={{ resourc }}">{{ pg }}</a></li>
		{% endif %}
    {% endfor %}

    {% if data.has_next %}
      <li>
        <a href="?page={{ data.next_page_number }}&action=list&menuid=13&execute_user={{ execute_user }}&Supervision_type={{ Supervision_type }}&resourc={{ resourc }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}

        <li>
      <a href="?page={{ total_page }}" >
        <span aria-hidden="true">总共{{ total_page }}页</span>
      </a>
      </li>

    {% if total_counts < 0 %}
      <li style="display:none;">
      <a>
        <span aria-hidden="true">总{{ total_counts }}条</span>
      </a>
      </li>
    {% else %}
      <li>
      <a>
        <span aria-hidden="true">总{{ total_counts }}条</span>
      </a>
      </li>
    {% endif %}

    </ul>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
// 搜索框，点击放大镜后触发函数
function prom(){
    // 将搜索框和内容清空
    $("#myform").val('');
    $("#list").find("td").remove();
		$('#myModal').modal('show');
		$('#myModal').on('hide.bs.modal', function() {
			 //$("#myform")[0].reset();
			 $(this).find("shujuzhanshi").remove();
		});
		};

// 点击隐藏
function closed(){
$('#myModal').hide();
};
// 点击搜索触发函数，获取输入的值
// 按钮悬浮效果
$("[data-toggle='tooltip']").tooltip();
</script>
{% endblock %}