{% extends 'my_base.html' %}

{% block title %}
    <h1 style="margin-top:-15px"><span style="color: #0b93d5;">年度计划</span>
        <small>新建</small>
    </h1>
    <ol class="breadcrumb" style="margin-top: 5px;">
        <li><a href="/systemsettings/starter/"><i class="fa fa-dashboard"></i>当前位置：首页</a></li>
        <li><span>技术监督</span></li>
        <li><span>计划与总结</span></li>
        <li class="active">年度计划</li>
    </ol>
{% endblock %}
{% block beiyong  %}
<a onClick="javascript :history.back(-1)" class="btn btn-primary glyphicon glyphicon-chevron-left" title="返回" data-toggle="tooltip" data-placement="top"></a>
{% endblock %}
{% block list_new %}
<a class="btn btn-primary glyphicon glyphicon-list" title="返回列表" href="/yearplan/list/?action=list&menuid=9" data-toggle="tooltip" data-placement="top"></a>
{% endblock %}

{% block save %}
<!--<a class="btn btn-primary glyphicon glyphicon-floppy-save" title="保存" onclick="document.getElementById('myform').submit();" data-toggle="tooltip" data-placement="top"></a>-->

<!--<a class="btn btn-primary glyphicon glyphicon-floppy-save" data-toggle="tooltip" data-placement="top" title="保存" id="create_btn">-->
    <!--<button name="act_save" type="submit" style="display: none" id="baocun"></button>-->
<!--</a>-->
{% if not process_instance.cur_node.is_submitted %}
<a class="btn btn-primary glyphicon glyphicon-send" data-toggle="tooltip" data-placement="top"  title="提交" id="tijiao" >
    <input type="submit" value="提交" name="act_submit" style="display:none;" id="tj" ></a>

{% endif %}
{% endblock %}
{% block update %}
<a href="#" onClick="document.location.reload()" class="css3 btn btn-primary glyphicon glyphicon-refresh" title="刷新" data-toggle="tooltip" data-placement="top"></a>
{% endblock %}
{% block content %}
<form action="/yearplan/add/?action=new&menuid=9" class="form-horizontal" method="post"
      enctype="multipart/form-data" id="myform">
    <div class="box-body">

        <div class="form-group">
            <label class="col-md-2 control-label">创建人:</label>
            <div class="col-md-3">
                <input type="text" class="form-control" name="created_by" id="created_by"
                       value="{{request.session.mylogin.username}}" readonly>
            </div>
            <label class="col-md-2 control-label">创建时间:</label>
            <div class="col-md-3">

                <input type="text" class="form-control" name="created_at" id="created_at" value="{{now}}" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">最后更新人:</label>
            <div class="col-md-3">
                <input type="text" class="form-control" name="last_updated_by" id="last_updated_by"
                       value="{{request.session.mylogin.username}}" readonly>
            </div>
            <label class="col-md-2 control-label">最后更新时间:</label>
            <div class="col-md-3">
                <input type="text" class="form-control" name="last_updated_at" id="last_updated_at"
                       value="{{now}}" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">年&nbsp;份:</label>
            <div class="col-md-3">
                <select class="form-control" name="year" id="year">
                    <option class="selected2" value="{{year}}">{{year}}</option>
                     {% for y in year_list %}
                     {% if y == year %}
                     {% else %}
                    <option value="{{y}}">{{y}}</option>
                     {% endif %}
                     {% endfor %}
                </select>
            </div>
              <label class="col-md-2 control-label">状&nbsp;态:</label>
            <div class="col-md-3">
                <input type="text" class="form-control" id="state" name="state" value="拟定">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label"><span class="bt">*</span>计划描述:</label>
            <div class="col-md-8">
                <textarea type="text" class="form-control" name="desc" id="desc"></textarea>
            </div>
        </div>

         <div class="form-group" >
            <label class="col-md-2 control-label">上传附件:</label>
            <div class="col-md-3">
                <input type="file" id="enclosure" name="enclosure">
            </div>
             <input type="text" id="num2" name="num2" style="display: none;"/>
        </div>
        <div id="yes" style="font-size:20px;display:none;">
            <p id="info">正在保存...</p>
        </div>
    </div>
</form>
<!-- /.box-body -->


{% endblock %}
{% block javascript %}
<script type="application/javascript" src="/static/js/bootstrapValidator/bootstrapValidator.js"></script>
<script>
 $("#create_btn").click(function(){
            $("#num2").val(1);
        });

        $("#tijiao").click(function(){
            $("#num2").val(2);
        });

   $(function (){
       $('#myform').bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields:{
            desc:{
                validators:{
                    notEmpty:{
                        message:'请您输入计划描述'
                    },
                    callback:{
                        message:'计划描述错误'
                    },
                    stringLength: {//检测长度
                        min: 1,
                        max: 50,
                        message: '长度必须在1-50之间'
                    },
                }
            },
        }
    })
   });

$("#myform").submit(function (ev) {
            ev.preventDefault();
        });
        $("#tijiao,#create_btn").on("click", function () {
        var bootstrapValidator = $("#myform").data('bootstrapValidator');
        bootstrapValidator.validate();
        if (bootstrapValidator.isValid()) {
            document.getElementById('myform').submit();
            layer.msg('添加成功！')
        }
        else {
            layer.msg('添加失败，请填写正确信息!');
            return false;
        }
    });
 // 按钮悬浮效果
$("[data-toggle='tooltip']").tooltip();
</script>

{% endblock %}
