{% extends 'my_base.html' %}

{% block title %}
    <h1 style="margin-top:-15px"><span style="color: #0b93d5;">周期工作任务</span>
        <small>列表</small>
    </h1>
    <ol class="breadcrumb" style="margin-top: 5px;">
        <li><a href="/systemsettings/starter/"><i class="fa fa-dashboard"></i>当前位置：首页</a></li>
        <li><span>技术监督</span></li>
        <li><span>周期工作管理</span></li>
        <li class="active">周期工作任务</li>
    </ol>
{% endblock %}
{% block add %}
{% endblock %}

{% block search %}
<a href="#" class="btn btn-primary glyphicon glyphicon-search" data-toggle="tooltip"
   data-placement="top" onclick="prom()"
   title="查询周期工作任务"></a>
{% endblock %}
{% block update %}
<a href="#" onClick="document.location.reload()" data-toggle="tooltip" data-placement="top"
   class="css3 btn btn-primary glyphicon glyphicon-refresh"
   title="刷新"></a>
{% endblock %}
{% block content %}
{% load pagetag %}
<table class="table table-striped table-bordered">
    <tr>
        <th class="first">编号</th>
        <th class="third">公司名称</th>
        <th class="fifth">计划内容</th>
        <th class="third">策划人</th>
        <th class="second">监督专业</th>
        <th class="second">执行人</th>
        <!--<th class="fourth">周期工作类型</th>-->
        <th class="first" >状态</th>
        <th class="third">操作</th>
    </tr>
    {% for week_work in myweekworktask_list %}
    <tr>
        <td class="first">{{forloop.counter|add:page_last}}</td>
        <td class="third">{{week_work.place}}</td>
        <td class="fifth">{{week_work.plan.plan}}</td>
        <td class="third">{{week_work.plan.planner.name}}</td>
        <td class="second" >{{week_work.plan.supervision_major.name}}</td>
        <td class="second">{{week_work.plan.execute_user.name}}</td>
        <!--<td class="fourth">{{week_work.regularwork.type}}</td>-->
        <td class="first">{{ week_work.pinstance.cur_node.name | default:'待执行' }}</td>

        <td>
            <a href="/weekworktask/{{week_work.id}}/myweek_add/?action=new&menuid=49"
               title="填写完成情况" data-toggle="tooltip" data-placement="top"><span
                    class="btn btn-default glyphicon glyphicon-pencil"></span>
            </a>
            <a href="/wf/{{week_work.pinstance.id | default:'0' }}/wf_history/?action=edit&menuid=47" data-toggle="tooltip" data-placement="top" title="查看流程历史"><span
                          class="btn btn-default glyphicon glyphicon-calendar" ></span></a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="11">暂时还没有周期工作任务</td>
    </tr>
    {% endfor %}
</table>

<div class="box-footer clearfix">
    <nav aria-label="Page navigation">
        <ul class="pagination pagination-sm no-margin pull-left">
            <li>
                <a href="?page=1&action=list&menuid=58&supervision_major={{ supervision_major }}&equipment_major={{ equipment_major }}&type={{ type }}" aria-label="Previous">
                    <span aria-hidden="true">首页</span>
                </a>
            </li>
            {% if myweekworktask_list.has_previous %}
            <li>
                <a href="?page={{ myweekworktask_list.previous_page_number }}&action=list&menuid=58&supervision_major={{ supervision_major }}&equipment_major={{ equipment_major }}&type={{ type }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

             {% for pg in page_range %}
                {% if pg == page %}
                    <li class="active"><a href="#">{{ pg }}</a></li>
                {% else %}
                    <li><a href="?page={{ pg }}&action=list&menuid=58&supervision_major={{ supervision_major }}&equipment_major={{ equipment_major }}&type={{ type }}">{{ pg }}</a></li>
                {% endif %}
            {% endfor %}

            {% if myweekworktask_list.has_next %}
            <li>
                <a href="?page={{ myweekworktask_list.next_page_number }}&action=list&menuid=58&supervision_major={{ supervision_major }}&equipment_major={{ equipment_major }}&type={{ type }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}

        {% if total_page <= 0 %}
          <li style="display: none">
          <a href="?page={{ total_page }}" >
            <span aria-hidden="true">总共{{ total_page }}页</span>
          </a>
          </li>
        {% else %}
           <li >
          <a href="?page={{ total_page }}" >
            <span aria-hidden="true">总共{{ total_page }}页</span>
          </a>
          </li>
        {% endif %}

        {% if total_counts <= 0 %}
          <li style="display:none;">
          <a style="background: #FFFFFF" >
            <span aria-hidden="true">总{{ total_counts }}条</span>
          </a>
          </li>
        {% else %}
          <li>
          <a style="background: #FFFFFF">
            <span aria-hidden="true">总{{ total_counts }}条</span>
          </a>
          </li>
        {% endif %}

        </ul>
    </nav>
</div>


<!------------------------------------搜索框------------------------------>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        onclick="closed()">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    周期工作任务查询
                </h4>
                <hr>
                <!--form表单输入查询条件-->
                <form action="/regularworktask/my_search/?action=list&menuid=58" class="form-horizontal" method="get"
                      enctype="multipart/form-data" id="myform">
                    <input type="hidden" name="action" value="list">
                    <input type="hidden" name="menuid" value="58">
                    <div class="box-body">

                        <div class="form-group">
                            <label class="col-md-3 control-label">监督专业</label>
                            <div class="col-md-4">
                                <select class="form-control" name="supervision_major" id="supervision_major">
                                    <option value="">所有</option>
                                    {% for supervision_major in supervision_major_list %}
                                    <option value="{{supervision_major.id}}">{{supervision_major.name}}</option>
                                    {% endfor %}
                                </select>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">设备专业</label>
                            <div class="col-md-4">
                                <select  class="form-control" name="equipment_major" id="equipment_major">
                                    <option value="">所有</option>
                                    {% for equipment_major in equipment_major_list %}
                                    <option value="{{equipment_major.id}}">{{equipment_major.name}}</option>
                                     {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">周期工作类型</label>

                             <div class="col-md-4">
                            <select class="form-control select2" name="type" id="rtype">
                                <option value="">所有</option>
                                <option value="技术监督设备类">技术监督设备类</option>
                                <option value="技术监督管理类">技术监督管理类</option>
                                <option value="25项反措设备类">25项反措设备类</option>
                                <option value="25项反措管理类">25项反措管理类</option>
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit"  class="btn btn-primary" value="搜索">
                        <button type="button" id='btn' class="btn btn-primary" data-dismiss="modal"
                                    onclick="closed()">关闭
                            </button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/qtip/jquery.qtip.min.js"></script>
<script>
    function prom(){
        $("#myModal").modal('show');
    }

</script>
{% endblock %}


