{% extends 'my_base.html' %}

{% block title %}
<h1 style="margin-top:-15px"><span style="color: #0b93d5;">人员资质管理</span>
    <small>新建</small>
</h1>
<ol class="breadcrumb" style="margin-top: 5px;">
    <li><a href="/systemsettings/starter/"><i class="fa fa-dashboard"></i>当前位置：首页</a></li>
    <li><span href="#">技术监督</span></li>
    <li><span href="#">监督网络管理</span></li>
    <li class="active">人员资质管理</li>
</ol>
{% endblock %}
{% block beiyong  %}
<a onClick="javascript :history.back(-1)" class="btn btn-primary glyphicon glyphicon-chevron-left" title="返回"
   data-toggle="tooltip"
   data-placement="top"></a>
{% endblock %}

{% block list_new %}
<a class="btn btn-primary glyphicon glyphicon-list" title="返回列表" href=/staff_qua/list/?action=list&menuid=5"
   data-toggle="tooltip" data-placement="top"></a>
{% endblock %}

{% block save %}
<!--<a class="btn btn-primary glyphicon glyphicon-floppy-save" title="保存"-->
<!--onclick="if(!checked()){return};document.getElementById('myform').submit();" data-toggle="tooltip"-->
<!--data-placement="top"></a>-->
<a class="btn btn-primary glyphicon glyphicon-floppy-save" title="保存"
   id="create_btn" data-toggle="tooltip"
   data-placement="top"></a>
{% endblock %}

{% block update %}
<a href="#" onClick="document.location.reload()" class="css3 btn btn-primary glyphicon glyphicon-refresh" title="刷新"
   data-toggle="tooltip" data-placement="top"></a>
{% endblock %}
{% block content %}
<form class="form-horizontal" method="post" id="myform"
      action="/staff_qua/{{u_id}}/add/?action=new&menuid=5" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="box-body" style="margin-top: 20px;">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span class="bt">*</span>人员资质对应编码</label>
                    <div class="col-sm-6">
                        <input type="text" name="number" class="form-control" id="number" placeholder="人员资质对应编码"
                               required>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label">状态</label>-->
                <!--&lt;!&ndash;<div class="col-sm-6">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="text" name="state" class="form-control" id="state" placeholder="状态" required value="新建" readonly>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
                <div class="form-group">
                    <label class="col-sm-2 control-label"><span class="bt">*</span>有效日期</label>

                    <div class="col-sm-6">
                        <input type="date" name="effect_time" class="form-control" id="effect_time" placeholder="有效日期"
                               required>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" style="margin-left:-12px">
            <label class="col-md-2 control-label">资质</label>
            <div class="col-md-3">
                <select class="form-control select2 " name="qua" id="qua">
                    <!--<option selected value="0" >无</option>-->
                    {% for quadata in qua_data %}
                    <option value="{{quadata.id}}">
                        {{quadata.number}}--{{quadata.name}}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <label class="col-md-2 control-label">监督类型</label>
            <div class="col-md-3">
                <select class="form-control select2 " name="supervision_major" id="supervision_major">
                    <!--<option selected value="0">无</option>-->
                    {% for jdata in majordata %}
                    <option value="{{jdata.id}}">
                        {{jdata.number}}--{{jdata.name}}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 control-label">发证单位</label>
                    <div class="col-md-6">
                        <select class="form-control select2 " name="publisher" id="publisher">
                            <!--<option selected value="{{company.id}}">{{company.comnumber}}&#45;&#45;{{company.comname}}</option>-->
                            {% for plan in power_plan %}

                            <option value="{{plan.id}}">
                                {{plan.comnumber}}--{{plan.comname}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label"><span class="bt">*</span>有效日期</label>-->

                <!--<div class="col-sm-6">-->
                <!--<input type="date" name="effect_time" class="form-control" id="effect_time" placeholder="有效日期" required>-->
                <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">附件</label>
                    <div class="col-xs-3 col-md-3" style="margin-top:2px">
                        <input type="file" name="qua_file">
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- /.box-footer -->
</form>

{% endblock %}
{% block javascript %}
<!--<script>-->
<!--function checked() {-->
<!--var date2 = $("#number").val();-->
<!--var date3 = $("#effect_time").val();-->

<!--if(date2=='' | date3 ==''){-->
<!--alert('您还有未填写的选项');-->
<!--return false;-->

<!--}else{-->
<!--return true;-->
<!--}-->
<!--console.log(checked());-->
<!--}-->
<!--// 按钮悬浮效果-->
<!--$("[data-toggle='tooltip']").tooltip();-->
<!--</script>-->
<script type='application/javascript' src='/static/js/bootstrapValidator/bootstrapValidator.js'></script>
<script>
    $(function () {
        $('#myform').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                number: {
                    validators: {
                        notEmpty: {
                            message: '请您输入人员资质编码'
                        },
                        callback: {
                            message: '人员资质编码错误'
                        }
                    }
                },
                effect_time: {
                    validators: {
                        notEmpty: {
                            message: '请您选择有效日期'
                        },
                        callback: {
                            message: '日期无效'
                        }
                    }
                },
            }
        })
    });
    $('#myform').submit(function (ev) {
        ev.preventDefault();
    });
    $('#create_btn').on('click', function () {
        var bootstrapValidator = $('#myform').data('bootstrapValidator');
        bootstrapValidator.validate();
        if (bootstrapValidator.isValid()) {
            document.getElementById('myform').submit();
            layer.msg('添加成功')
        }
        else {
            // document.getElementById('myform').submit();
            layer.msg('添加失败')
            return false
        }
    });


    $("[data-toggle='tooltip']").tooltip();
</script>
{% endblock %}
