{% include "lbworkflow/inc_wf_status.html" %}
<table class="table table-bordered tb-detail no-margin">
  
  <tr>
    <th>公司名称</th>
    <td>{{ object.place }}</td>
    <th>总结描述</th>
    <td>{{ object.sum_desc }}</td>
  </tr>
  
  <tr>
    <th>总结类型</th>
    <td>{{ object.sum_type }}</td>
    <th>年份</th>
    <td>{{ object.year }}</td>
  </tr>
  
  <tr>
    <th>状态</th>
    <td>{{ object.state }}</td>
    <th>创建时间</th>
    <td>{{ object.created_at }}</td>
  </tr>
  
  <tr>
    <th>最后更新人</th>
    <td>{{ object.last_updated_by }}</td>
    <th>最后更新时间</th>
    <td>{{ object.last_updated_at }}</td>
  </tr>
  
  <tr>
    <th>附件</th>
    <td>{{ object.enclosure }}</td>
    <th>是否激活</th>
    <td>{{ object.is_activate }}</td>
  </tr>
  
  <tr>
    <th>工单类型</th>
    <td>{{ object.work_type }}</td>
    <th></th>
    <td>{{ object. }}</td>
  </tr>
  
  {% comment %}
  <tr>
    <th>Reason</th>
    <td colspan="3">
      {{ object.reason|linebreaks }}
    </td>
  </tr>
  {% endcomment %}
</table>
