{% extends 'my_base.html' %}

{% block title %}
<h1 style="margin-top:-15px"><span style="color: #0b93d5;">定期工作任务</span>
  <small>详情</small>
</h1>
<ol class="breadcrumb" style="margin-top: 5px;">
  <li><a href="/systemsettings/starter/"><i class="fa fa-dashboard"></i>当前位置：首页</a></li>
  <li><span>技术监督</span></li>
  <li><span>定期工作管理</span></li>
  <li class="active">定期工作任务</li>
</ol>
{% endblock %}
{% block beiyong  %}
<a onClick="javascript :history.back(-1)" class="btn btn-primary glyphicon glyphicon-chevron-left" title="返回" data-toggle="tooltip" data-placement="top"></a>
{% endblock %}
{% block list_detail %}
<a class="btn btn-primary glyphicon glyphicon-list" title="返回列表" href="/regularworktask/list/?action=list&menuid=49" data-toggle="tooltip" data-placement="top"></a>
{% endblock %}
{% block modify %}
<a href="/regularworktask/{{regularworktask.id}}/edit/?action=edit&menuid=49" data-toggle="tooltip"
   data-placement="top" class="btn btn-primary glyphicon glyphicon-edit "
   title="编辑定期工作"></a>
{% endblock %}
{% block update %}
<a href="#" onClick="document.location.reload()" class="css3 btn btn-primary glyphicon glyphicon-refresh" title="刷新" data-toggle="tooltip"
   data-placement="top"></a>
{% endblock %}
{% block del %}
<a href="javascript:;"
   onclick="if(confirm('您确定删除这条记录？')){location.href='/regularworktask/{{regularworktask.id}}/delete/?action=del&menuid=49';}"
   title="删除定期工作" class="btn btn-primary glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top"></a>
{% endblock %}
{% block content %}
{% block right_side %}
<section class="content-header">
  {% include "incs/messages.html" %}
  {% block right_side_header %}
  <div class="right-btns">
    {% include "lbworkflow/inc_wf_btns.html" %}
    {% block flow_help %}
    {% endblock %}

    {% block right_side_header_ext_btns %}
    {% if processinstance %}
    <a class="" target="_blank" href="{% url 'wf_print_detail' processinstance.pk %}">打印</a>
    {% endif %}
    <span>|</span>
    {% endblock %}
  </div>
  {% endblock %}
</section>
<section class="content">
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs" role="tablist" id="id-m-nav-tabs">
      <li class="active">
        <a href="#id-tb-base" role="tab" data-toggle="tab">基础信息</a>
      </li>
      {% block right_side_tab_nav_ext %}
      {% endblock %}
      <!--<li>-->
        <!--<a href="#id-tb-wf-log" role="tab" data-toggle="tab">操作历史</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="#id-tb-wf-graph" role="tab" data-toggle="tab">流程图</a>-->
      <!--</li>-->
    </ul>
    <div class="tab-content">
      {% block right_side_tab_ctx_ext %}
      <div class="tab-pane active"  id="id-tb-base">
        <table class="table table-bordered tb-detail wf-act-history">
          <tr>
            <th class="w-mid">流程编号</th>
            <td class="process-no">
              {{ processinstance.no }}
            </td>
            <th class="w-mid">创建人</th>
            <td>{{ processinstance.created_by }}</td>
          </tr>
          <tr>
            <th>创建时间</th>
            <td>{{ processinstance.created_on|date:"Y-m-d H:i" }}</td>
            <th>当前节点</th>
            <td>
              {{ processinstance.cur_node.name }}
              {% if task.is_hold %}
              (hold)
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>流程名称</th>
            <td>{{ processinstance.process.myprocess.myprocess_name }}</td>
            <th>当前操作</th>
            <td>
              {{ operators_display }}
              {% if not processinstance.has_received %}
              [unreceived]
              {% endif %}
            </td>
          </tr>
        <!--</table>-->
        <!--<table class="table table-bordered tb-detail no-margin" >-->
          <tr>
            <th>公司名称</th>
            <td>{{ regularworktask.place }}</td>
            <th>定期工作编码</th>
            <td>{{ regularworktask.regularwork.number }}</td>
          </tr>

          <tr>
            <th>KKS编码</th>
            <td>{{ regularworktask.regularwork.KKS_code }}</td>
            <th>KKS编码名称</th>
            <td>{{ regularworktask.regularwork.KKS_codename }}</td>
          </tr>



          <tr>
            <th>责任人</th>
            <td>{{ regularworktask.regularwork.exe_user }}</td>
            <th>责任组</th>
            <td>{{ regularworktask.regularwork.exe_group }}</td>
          </tr>

          <tr>
            <th>设备专业</th>
            <td>{{ regularworktask.regularwork.equipment_major }}</td>
            <th>监督专业</th>
            <td>{{ regularworktask.regularwork.supervision_major }}</td>
          </tr>

          <tr>
            <th>性质</th>
            <td>{{ regularworktask.nature }}</td>
            <th>定期工作类型</th>
            <td>{{ regularworktask.type }}</td>
          </tr>

          <tr>
            <th>标准分值</th>
            <td>{{ regularworktask.regularwork.score }}</td>
            <th>工作项目</th>
            <td>{{ regularworktask.regularwork.work_content }}</td>
          </tr>

          <tr>
            <th>周期描述</th>
            <td>{{ regularworktask.regularwork.weekend_desc }}</td>
            <th>提前提醒时间</th>
            <td>{{ regularworktask.regularwork.warinig_time }}</td>
          </tr>

          <tr>
            <th>状态</th>
            <td>{{ regularworktask.pinstance.cur_node.mynode.node_name }}</td>
            <th>超期一级预警</th>
            <td>{{ regularworktask.regularwork.overdue_1 }}</td>
          </tr>

          <tr>
            <th>超期二级预警</th>
            <td>{{ regularworktask.regularwork.overdue_2 }}</td>
            <th>超期三级预警</th>
            <td>{{ regularworktask.regularwork.overdue_3 }}</td>
          </tr>

          <tr>
            <th>业务来源</th>
            <td>{{ regularworktask.regularwork.resource }}</td>
            <th>开始时间</th>
            <td>{{ regularworktask.regularwork.start_time }}</td>
          </tr>

          <tr>
            <th>结束时间</th>
            <td>{{ regularworktask.regularwork.end_time }}</td>
            <th>是否激活</th>
            <td>{{ regularworktask.is_activate }}</td>
          </tr>

          <tr>
            <th>标准编码</th>
            <td>{{ regularworktask.regularwork.stard }}</td>
            <th>标准号</th>
            <td>{{ regularworktask.regularwork.stard_smallnumber }}</td>
          </tr>
          <tr>
            <th colspan="1">完成情况</th>
            <td colspan="3">{{ regularworktask.result }}</td>

          </tr>
          {% comment %}
          <tr>
            <th>Reason</th>
            <td colspan="3">
              {{ regularworktask.reason|linebreaks }}
            </td>
          </tr>
          {% endcomment %}
        </table>
         <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">工作准备</a></li>
            <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">注意事项</a></li>
            <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="false">工作内容</a></li>
            <li class=""><a href="#tab_4" data-toggle="tab" aria-expanded="false">工作数据</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th class="first">序号</th>
                        <th class="fourth">创建人</th>
                        <th class="fourth">创建时间</th>
                        <th class="fourth">填写内容</th>
                    </tr>
                    </thead>
                    {% for ready_form in work_ready %}
                    <tr>
                        <td class="first ">{{ready_form.number}}</td>
                        <td class="fourth">{{ready_form.created_by.name}}</td>
                        <td class="fourth">{{ready_form.created_at}}</td>
                        <td class="fourth">{{ready_form.content}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7">暂无</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="tab_2">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th class="first">序号</th>
                        <th class="fourth">创建人</th>
                        <th class="fourth">创建时间</th>
                        <th class="fourth">注意事项</th>

                    </tr>
                    </thead>
                    {% for work_matter in work_matters %}
                    <tr>
                        <td class="first ">{{work_matter.number}}</td>
                        <td class="fourth">{{work_matter.created_by.name}}</td>
                        <td class="fourth">{{work_matter.created_at}}</td>
                        <td class="fourth">{{work_matter.content}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7">暂无</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="tab_3">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th class="first">序号</th>
                        <th class="fourth">创建人</th>
                        <th class="fourth">创建时间</th>
                        <th class="fourth">工作内容</th>
                    </tr>
                    </thead>
                    {% for work_content in work_contents %}
                    <tr>
                        <td class="first ">{{work_content.number}}</td>
                        <td class="fourth">{{work_content.created_by.name}}</td>
                        <td class="fourth">{{work_content.created_at}}</td>
                        <td class="fourth">{{work_content.content}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7">暂无</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="tab-pane" id="tab_4">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th class="first">序号</th>
                        <th class="fourth">数据名称</th>
                        <th class="fourth">数据标准值</th>

                    </tr>
                    </thead>
                    {% for work_data in work_datas %}
                    <tr>
                        <td class="first ">{{work_data.number}}</td>
                        <td class="fourth">{{work_data.data_name}}</td>
                        <td class="fourth">{{work_data.data_value}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7">暂无</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
    </div>

      </div>

      {% endblock %}
      <!--<div class="tab-pane" id="id-tb-wf-log">-->
        <!--{% include "lbworkflow/inc_wf_history.html" %}-->
      <!--</div>-->
      <div class="tab-pane" id="id-tb-wf-graph">
        <a href="{% url 'wf_process_flowchart' 'regularworktask' %}" target="_blank">Open in new window</a>
        <br/>
        <img src="{% url 'wf_process_flowchart' 'regularworktask' %}"/>
      </div>
    </div>
  </div>
  {% block wf_detail_ext %}
  {% with btn_css="1" %}
  <div class="bottom-btns">
    {% with is_btn="1" %}
    {% include "lbworkflow/inc_wf_btns.html" %}
    {% endwith %}
  </div>
  {% endwith %}
  {% endblock %}
</section>
{% endblock %}
{% endblock %}


