{% extends 'my_base.html' %}

{% block title %}
    <h1 style="margin-top:-15px"><span style="color: #0b93d5;">月度计划</span>
        <small>编辑</small>
    </h1>
    <ol class="breadcrumb" style="margin-top: 5px;">
        <li><a href="/systemsettings/starter/"><i class="fa fa-dashboard"></i>当前位置：首页</a></li>
        <li><span>技术监督</span></li>
        <li><span>计划与总结</span></li>
        <li class="active">月度计划</li>
    </ol>
{% endblock %}
{% block beiyong  %}
<a onClick="javascript :history.back(-1)" data-toggle="tooltip" data-placement="top"
   class="btn btn-primary glyphicon glyphicon-chevron-left" title="返回"></a>
{% endblock %}
{% block list_edit %}
<a class="btn btn-primary glyphicon glyphicon-list" title="返回列表" href="/mon_plan_sum/list/?action=list&menuid=7"
   data-toggle="tooltip" data-placement="top"></a>
{% endblock %}
{% block save2 %}
<a class="btn btn-primary glyphicon glyphicon-floppy-save" title="保存" onclick="document.getElementById('myform').submit();"
   data-toggle="tooltip" data-placement="top"></a>
{% endblock %}
{% block update %}
<a href="#" onClick="document.location.reload()" class="css3 btn btn-primary glyphicon glyphicon-refresh" title="刷新"
   data-toggle="tooltip" data-placement="top"></a>
{% endblock %}
{% block content %}
<form action="/mon_plan_sum/{{mon_plan_sum.id}}/edit/?action=new&menuid=7" class="form-horizontal"
      method="post" enctype="multipart/form-data" id="myform">
    <div class="box-body">
        <div class="form-group">
            <label class="col-md-1 control-label">组&nbsp;织</label>
            <div class="col-md-3">
                <select class="form-control select2 " name="orgid" id="orgid" required>
                    <option selected value="{{mon_plan_sum.place}}">
                        {{mon_plan_sum.place}}
                    </option>
                    {% if request.session.mylogin.profile.Department.name == mon_plan_sum.orgid %}
                    {% else %}
                    <option value="{{request.session.mylogin.profile.Department.name}}">
                        {{request.session.mylogin.profile.Department.name}}
                    </option>
                    {% endif %}
                    {% for or in orgid %}
                    {% if or.name == mon_plan_sum.orgid %}
                    {% else %}
                    <option value="{{or.name}}">{{or.name}}
                    </option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
            <label class="col-md-1 control-label">创建人</label>
            <div class="col-md-2">
                <input type="text" class="form-control" name="created_by" id="created_by"

                       value="{{last_updated_by}}" readonly>
                <!--value="{{request.session.mylogin.username}}" readonly>-->
            </div>
            <label class="col-md-2 control-label">创建时间</label>
            <div class="col-md-3">
                <input type="text" class="form-control" name="created_at" id="created_at"
                       value="{{mon_plan_sum.created_at}}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">地&nbsp;点</label>
            <div class="col-md-3">
                <input type="text" class="form-control" name="place" id="place" value="{{mon_plan_sum.place}}"
                       readonly>
            </div>
            <label class="col-md-1 control-label">最后更新人</label>
            <div class="col-md-2">
                <input type="text" class="form-control" name="last_updated_by" id="last_updated_by"

                       value="{{last_updated_by}}" readonly>
                <!--value="{{request.session.mylogin.username}}" readonly>-->
            </div>

            <label class="col-md-2 control-label">最后更新时间</label>
            <div class="col-md-3">
                <input type="text" class="form-control" name="last_updated_at" id="last_updated_at"
                       value="{{now}}" readonly>
            </div>
        </div>

        <div class="form-group" style="margin-left:-12px">
            <label class="col-md-1 control-label">年&nbsp;份</label>
            <div class="col-md-3">
                <select class="form-control" name="year" id="year" required>
                    <option class="selected2" value="{{mon_plan_sum.year}}">{{mon_plan_sum.year}}</option>
                    {% for y in year_list %}
                    {% if y == mon_plan_sum.year %}
                    {% else %}
                    <option value="{{y}}">{{y}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group" style="margin-left:-12px">
            <label class="col-md-1 control-label">月&nbsp;份</label>
            <div class="col-md-3">
                <select class="form-control" name="month" id="month" required>
                    <option class="selected2" value="{{mon_plan_sum.month}}">{{mon_plan_sum.month}}</option>
                    {% for m in month_list %}
                    {% if m == mon_plan_sum.month %}
                    {% else %}
                    <option value="{{m}}">{{m}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group" style="margin-left:-12px">
            <label class="col-md-1 control-label">状&nbsp;态</label>
            <div class="col-md-3">
                <input type="text" class="form-control" id="state" name="state" value="{{mon_plan_sum.state}}"
                       readonly>
            </div>
        </div>
        <div id="yes" style="font-size:20px;display:none;">
            <p id="info">修改成功,页面正在跳转......</p>
        </div>
        <div class="form-group" style="margin-left:-110px">
            <label class="col-md-2 control-label">计划描述</label>
            <input type="text" class="form-control" name="desc" id="desc" value="{{mon_plan_sum.desc}}"
                   required style="width:50%">
        </div>
        <div class="form-group" style="margin-left:-110px">
            <label class="col-md-2 control-label">监督类型</label>
            <select class="form-control select2 " name="supervision_major" id="supervision_major" style="width:50%">
                <option class="selected">{{mon_plan_sum.supervision_major}}</option>
                {% for supervision_major in supervision_major_list %}
                {% if supervision_major.supervision_major == mon_plan_sum.supervision_major %}
                {% else %}
                <option value="{{supervision_major}}">
                    {{supervision_major}}
                </option>
                {% endif %}
                {% empty %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group" style="margin-left:-12px">
            <label class="col-md-1 control-label">附&nbsp;件</label>
            <div class="col-md-4">
                {{ home_cut }}
                <input type="file" id="enclosure" name="enclosure">
            </div>
        </div>
    </div>
</form>
<!-- /.box-body -->
{% endblock %}
{% block javascript %}
<script type="text/javascript">
  $(function(){
  $("#jump").click(function(){
  var second = 3;

   //获取显示秒数的元素，通过定时器来更改秒数。

    var message = document.getElementById("countTime");

    function clock()

    {

        if(second==0)

        {

            goTo();

        }

        else

        {
            document.getElementById('yes').setAttribute('style', 'display: block');
            message.innerHTML = second-- + "秒后回到详情页";
            window.setTimeout(clock,1000);

        }

    }

    clock();

   //通过window的location和history对象来控制网页的跳转。

   function goTo()

   {

        window.location.href = "http://localhost:8000/mon_plan_sum/list/?action=list";

   }

   function goBack()

   {

    //   window.history.Back();

        window.location.href = "http://localhost:8000/mon_plan_sum/list/?action=list";

   }

  })
  })
   // 按钮悬浮效果
$("[data-toggle='tooltip']").tooltip();




</script>
{% endblock %}
